<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceForOneWay" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IServiceForwsDual" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/WcfServices/ServiceForOneWay/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceForOneWay"
                contract="ServiceForOneWay.IServiceForOneWay" name="BasicHttpBinding_IServiceForOneWay" />
            <endpoint address="http://localhost:8733/WcfServices/ServiceForwsDual/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IServiceForwsDual"
                contract="ServiceForwsDual.IServiceForwsDual" name="WSDualHttpBinding_IServiceForwsDual">
                <identity>
                    <userPrincipalName value="zhangyihui\Administrator" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>